@charset "ISO-8859-1";

body {
  margin: 0;
  padding: 0;
  background-color: #c9cfb1; 
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #c9cfb1;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
.signinbtn {
position: absolute;
top: 10px;
right: 10px;
}

#login{
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   width: 100%;
   height: 100vh;
   background: #bce1f5;
}
#child{
   position: relative;
   background: #f2fafd;
   padding: 2rem;
   color: #000000;
   box-shadow: 5px 5px 20px rgba(0,0,0,.4);
   border-radius: 5px;
}

#mid_form{
	background: #f2fafd;
	
}